html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.bg-layout {
  background-color: #fff !important;
}

.margin-topo {
    margin-top: 15px;
}

.layout-borda {
  border: 2px solid #e1e1e1;
}

.link-menu {
  color: #0080a6 !important;
  font-size: 18px;
  font-weight: 700;
}
.link-menu:hover {
  color: #ff8900 !important;
}

.altura-quadro-topo {
  height: 230px;
  -o-object-fit: cover !important;
  object-fit: cover !important;
  -o-object-position: center !important;
  object-position: center !important;
}

.carousel-quadro {
  background-color: black;
  height: 230px;
}

.btn-fundo {
  background-color: #ff8900 !important;
  border: none;
  width: 85%;
}
.btn-fundo:hover {
  background-color: #0080a6 !important;
}

.link-noticia {
  align-self: center;
  color: #ff8900;
  text-decoration: none !important;
}
.link-noticia:hover {
  color: #0080a6;
}

.sombra-layout {
  -webkit-box-shadow: 0 5px 10px 0 #d1d1d1;
  box-shadow: 0 5px 10px 0 #d1d1d1;
}

.sombra-card {
  -webkit-box-shadow: 0 2px 10px 0 #d1d1d1;
  box-shadow: 0 1px 10px 0 #d1d1d1;
}

.card-noticia {
  padding-right: 0 !important;
}

.slide-show {
  padding-left: 0 !important;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .col-4 {
    width: 50%;
    max-width: 50% !important;
    margin: 0 auto 15px auto;
  }
}

.navbar-nav {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}

.card-img-sombra{
    background-color: black; 
    height: 115px; 
    width: 16rem; 
    margin: 15px; 
    position: absolute;
  }

@media screen and (max-device-width: 480px) {
    .margin-topo {
        margin-top: 0;
    }
    
  .col-4 {
    width: 100%;
    max-width: 100% !important;
    margin: 0 auto 15px auto;
  }
  .col-5 {
    width: 100%;
    min-width: 100% !important;
    margin: 0 auto 15px auto;
  }
  .card-noticia {
    padding-right: 15px !important;
  }
  .col-7 {
    width: 100%;
    min-width: 100% !important;
    margin: 0 auto;
  }
  .slide-show {
    padding-left: 15px !important;
    
  }

  .card, .carousel{
    -webkit-box-shadow: 0 2px 10px 0 #d1d1d1;
    box-shadow: 0 1px 10px 0 #d1d1d1;
  }

}
